body {
    font-family: 'Lato', serif;
}

#noResults {
    color: rgb(221,44,0);
    text-align: center;
}

#submitSearch {
    width: 100%;
}

header {
    font-weight: 700;
    text-align: center;
    font-size: 48px;
}

md-content {
    width: 600px;
    margin: auto;
}

.componentTitle {
    text-align: center;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; 
}

.autocomplete-custom-template li:last-child {
  border-bottom-width: 0; 
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; 
}

.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; 
}

.createImg {
    width: 100px;
}